<!-- Config file for the game -->

<config>
  <app>
    <title>Schrödinger Quest</title>
    <organization>UPC</organization>
    <save_game_source>save_game.xml</save_game_source>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <audio>
    <difference value="80"/>
  </audio>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <scale_Correction value ="1.6"/>
    <scale_No_Correction value ="1"/>
    <correction value ="2"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <maps>
	    <map id="1" source="map_1_final.tmx"/>
	    <map id="2" source="map_2_final.tmx"/>
    </maps>
      
    <culling_offset value="0" />
    
    
  </map>


  <player>
    
    <!--Everything reletad to player movement-->    
    <movement gravity="1" />
    <load_file>textures/player.tmx</load_file>
    <difference_y value="256"/>
    <inputs_out value="0"/>
    <actual_state value="1"/>
    <gravity value="1"/>
    <maximum_speed value="8"/>
    <player_info flip="false" not_jumping="true" stop_jumping_up="true" in_air="true" spacebar_pushed="false" god_mode="false" tang_mode="false" alive="true" respawn="false" climbing="false" col_state="0">
	  <position x="104" y="816" w="16" h="-20" />
	  <speed x="0" y="1" />
    </player_info>
    <texture_source>textures/Player_SpriteSheet.png</texture_source>

    <animation_created_mov value="0" />
    <tangSwitchDeadCheck value="false" />
    <canJump value="false" />
    <collider_rect w="15" h="-20" />

  </player>
  
  
  
</config>